Screen {
    align: center middle;
}

SingleFlashcardPanel {
	padding: 2 0;
	max-width: 60;
    color: $text;
}


.flashcardColumn {
	content-align: center middle;
	padding: 1 1;
    color: $text;
    border: $secondary tall;
}

.flashcardLineInput {
	max-width: 70;
}

.flashcardAudioInput {
	max-width: 40;
}

.flashcardButton {
	width: 100%;
}
