Screen {
    align: center middle;
}

.batchInfo {
	height: 10vh;
}

SingleFlashcardPanel {
	padding: 0 40;
	max-height: 70vh;
    background: $panel;
    color: $text;
    border: $secondary tall;
}

FlashcardColumn {
	align: center middle;
}

.flashcardColumn {
    background: $panel;
    color: $text;
    border: $secondary tall;
}

.flashcardAudioInput {
	max-width: 27vw;
}

.flashcardLineStatus {
	padding: 2 2;
	width: 4vw;
	height: 2vh;
}

.flashcardButton {
	width: 100%;
}
